@import '../utils/mixins.scss';
 
#root {
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}

html {
  width: 100%;
}

main {
  @include flexCol;
  align-items: center;
  gap: 3rem;
  padding-top: 3rem;
  height: 100%;
  min-height: 80vh;
  margin-bottom: 3rem;
  width: 100vw;
}