@import '../../utils/mixins.scss';


.about {
  @include flexCol;
  min-width: 320px;
  padding: 48px 96px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  .bodyLRegular {
    @include bodyLRegular;
    text-align: left;
  } 

  .about_values {
    display: flex;
    gap: 8px;
    padding: 0 96px;
  
    .about_us {
      @include flexCol;
      gap: 16px;
      width: 100%;
      height: fit-content;
  
      .TitleM {
        @include TitleM;
        text-align: center;
      }
      
      .bodyLRegular {
        @include bodyLRegular;
        text-align: left;
      }
    }
  }
}

.text_band {
  overflow: hidden;
  padding: 24px 0;
  margin: 0 0 48px 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 96px 48px;
  width: 100%;

  .member {
    @include flexCol;
    align-items: center;
    width: 331px;
    gap: 32px;

    .member_img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }

    .member_data {
      gap: 16px;

      .member_name {
        @include bodyXXLBold;
        width: 100%;
      }

      .member_role {
        @include bodyXLRegular;
        width: 100%;
      }

      .member_rrss {
        @include flexCenterCenter;
        gap: 16px;
        width: 100%;
        
        .bodyXLRegular {
          color: black;
          @include bodyXLRegular;
        }

        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.fleet {
  @include flexCol;
  padding: 24px 96px;
  justify-content: center;
  align-items: center;
  gap: 24px; 
  width: 100%;

  .TitleS {
    @include TitleS;
  }

  .flote_content {
    @include flexCol;
    gap: 24px;

    .bodyMRegular {
      @include bodyMRegular;
    }

    img {
      width: 741px;
      height: 496px;  
      border-radius: 30px;
    }
  }
}