@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';
@import '../../utils/media_queries.scss';



.sevices_header {
  @include flexCol;
  padding: 24px;
  gap: 24px;

  .service {
    @include flexCol;
    gap: 32px;

    .TitleS {
      @include TitleS;
      text-align: left;
    }

    .service_content {
      @include flexCol;
      align-items: center;
      text-align: left;
      gap: 16px;

      .service_img {
        width: 100px;
        height: 100px
      }
      
      p.bodyMRegular {
        @include bodyMRegular;
        line-height: 20px;
      }
    }

    .service_section {
      @include flexCol;
      padding: 0 48px;
      gap: 16px;

      .TitleS {
        @include TitleS;
        text-align: left;
        border-bottom: solid 4px $secondary-color;
      }

      .bodyXXLRegular {
        @include bodyXXLRegular;
        text-align: left
      }
    } 
  }
}

.sevices_benefits {
  
  .benefict {
    @include flexCol;
    text-align: left;
    gap: 24px;
    margin: 0 24px;

    .benefict_content {
      @include flexCol;
      gap: 16px;
      margin-top: 24px;
    .TitleS {
        @include TitleS;
      }
    }

    img {
      height: 304px;
      min-width: 280px;
      flex: 1 0 0;
    }
  }
}

.service_eco {
  @include flexCol;
  text-align: left;
  padding: 24px 48px 0;
  gap: 24px;

  .TitleS {
    @include TitleS;
    border-bottom: solid 4px $primary-base-color;
  }

  .service_content {

    p.bodyMRegular {
      @include bodyMRegular;
      text-align: left;
    }
  }
}

.sevice_energy {
  .service {
    @include flexCol;
    text-align: left;
    gap: 24px;
    padding: 16px 24px 24px;
    
    .TitleS {
      @include TitleS;
    }
  
    .service_content {
      @include flexCol;
      flex-direction: column;
      align-items: center;
      gap: 24px;
  
      .service_img {
        height: 100px;
        width: 100px;
      }
      .bodyLRegular {
        @include bodyLRegular;
      }     
    }
  }
}
  
.beneficts_list {
  @include flexCol;
  text-align: left;
  padding: 24px;

  .title_outLine {
    @include TitleS;
    width: fit-content;
    padding: 16px 40px;
    margin: 0 auto 48px;
    border-radius: 90px;
    border: 5px solid $primary-base-color;
  }
  .bodyLBold {
    @include bodyLBold;
  }
  .benefict_content {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
    padding: 16px;
    gap: 24px;
    border-top: solid 1px $neutral-black ;
    border-bottom: solid 1px $neutral-black ;

    .service_img {
      display: flex;
      height: 100px;
      width: 100px;
    }

    .bodyXLRegular {
      @include bodyXLRegular;
    }
  }

  .confort {
    @include flexCol;
    align-items: center;
    padding: 16px;
    gap: 16px;

    .confort_content {
      @include flexCenterCenter;
      text-align: left;
      padding: 16px;
      gap: 24px;

      .service_img {
        display: flex;
        height: 100px;
        width: 100px;
      }

      .bodyXLRegular {
        @include bodyXLRegular;
      }
    }
  }
}

@include tablet {}
@mixin tablet_medium {}
@include Desktop {}
@include large_screens {}
  