@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';
@import '../../utils/media_queries.scss';


.sevices_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;

  .service {
    @include flexCol;
    gap: 32px;

    .service_title {
      @include TitleS;
      text-align: left;
    }

    .service_content {
      @include flexCol;
      align-items: center;
      text-align: left;
      gap: 16px;

      .service_img {
        width: 100px;
        height: 100px
      }
      
      .service_desc {
        @include bodyMRegular;
        line-height: 20px;
      }
    }

    .service_section {
      @include flexCol;
      padding: 0 48px;
      gap: 16px;

      .servise_title {
        @include TitleS;
        text-align: left;
        border-bottom: solid 4px $secondary-color;
      }

      .servise_desc {
        @include bodyXXLRegular;
        text-align: left
      }
    } 
  }
}

.sevices_benefits {
  
  .benefict {
    @include flexCol;
    text-align: left;
    gap: 24px;
    margin: 0 24px;

    .benefict_content {
      @include flexCol;
      gap: 16px;
      margin-top: 24px;

      .benefict_title {
        @include TitleS;
      }

      .benefict_desc {
        @include bodyXLRegular; 
      }
    }

    img {
      height: 304px;
      min-width: 280px;
      flex: 1 0 0;
    }
  }
}

.service_eco {
  @include flexCol;
  text-align: left;
  padding: 24px 48px 0;
  gap: 24px;

  .solution_title {
    @include TitleS;
    border-bottom: solid 4px $primary-base-color;
  }

  .service_content {

    .servise_desc {
      @include bodyMRegular;
      text-align: left;
    }
  }
}

.sevice_energy {
  .service {
    @include flexCol;
    text-align: left;
    gap: 24px;
    padding: 16px 24px 24px;
    
    .track_Title {
      @include TitleS;
    }
  
    .service_content {

      .sevice_track {
        @include flexCol;
        text-align: left;
        align-items: center;
        gap: 24px;
    
        .service_img {
          height: 100px;
          width: 100px;
        }
        .track_desc {
          @include bodyLRegular;
        }     
      }
    }
  }
}

.beneficts_list {
  @include flexCol;
  text-align: left;
  padding: 24px;

  .title_outLine {
    @include TitleS;
    width: fit-content;
    padding: 16px 40px;
    margin: 0 auto 48px;
    border-radius: 90px;
    border: 5px solid $primary-base-color;
  }
  .beneficts_Title {
    @include bodyLBold;
    margin-bottom: 48px;
  }
  .benefict_content {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
    padding: 16px;
    gap: 24px;
    border-top: solid 1px $neutral-black ;
    border-bottom: solid 1px $neutral-black ;

    .service_img {
      display: flex;
      height: 100px;
      width: 100px;
    }

    .benefict_title {
      @include bodyXLRegular;
    }
  }

  .confort {
    @include flexCol;
    align-items: center;
    padding: 16px;
    gap: 16px;

    .confort_content {
      @include flexCenterCenter;
      text-align: left;
      padding: 16px;
      gap: 24px;

      .service_img {
        display: flex;
        height: 100px;
        width: 100px;
      }

      .bodyXLRegular {
        @include bodyXLRegular;
      }
    }
  }
}

.cta_btn {
  display: flex;
  margin: auto;
}


@media (min-width: 768px) {
  .sevices_header {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 48px;
    gap: 24px;
  }
}

@media (min-width: 1279px) {
  .sevices_header {
    align-items: start;
    text-align: left;
    padding: 48px 200px;
    gap: 48px;
    
    .service {
      margin-top: 24px;

      .service_section {
        text-align: left;
        padding: 24px 48px;
    
        .solution_title {
          @include TitleL;
        }
    
        .service_desc {
          @include bodyXXLRegular;
        }
      }
      .benefict_title {
        @include TitleS;
      }

      .benefict_desc {
        @include bodyXLRegular;
      }

      .service_content  {
        display: flex;
        flex-direction: row;
        align-items: start;

        .servise_desc {
          @include bodyXXLRegular
        }
      }  
    }
  }
  
  .sevices_benefits {
    flex-direction: row;
    margin: 0;
    padding: 24px 200px;

    .beneficts {
      .benefict {
        .benefict_content {
          .TitleS {
            @include TitleS;
          }
    
          .bodyXLRegular {
            @include bodyXLRegular;
          }
        }
      }
      .service_eco {
        padding: 0;
    
        .TitleM {
          @include TitleM;
        }
    
        .service_content {
          .bodyXLRegular {
            @include bodyXLRegular;
          }
        }
      }
    }
  }

  .service_eco {
    @include flexCol;
    text-align: left;
    padding: 24px 48px 0;
    gap: 24px;
  
    .solution_title {
      @include TitleS;
      border-bottom: solid 4px $primary-base-color;
    }
  
    .service_content {
  
      .servise_desc {
        @include bodyMRegular;
        text-align: left;
      }
    }
  }

  .sevice_track {
    padding: 96px 200px;
    // min-width: 100vw;
    // margin: auto;

    .service {
      .service_content {
        display: flex;
        flex-direction: row;
        .track_Title {
          @include TitleL;
        }
    
        .track_desc {
          @include bodyXXLRegular;
        }
      }
    }
  }

  .beneficts_list {
    padding: 96px 260px;
    width: 100%;

    .title_outLine {
      @include TitleL;
      min-width: fit-content;
      margin-bottom: 48px;
      height: fit-content;
    }

    .benefict_content {
      .benefict_title {
        @include TitleS;
      }
    }
  }

  .marquee {
    background-color: #A1E3D8;

    .marquee-text {
      background-color: #A1E3D8;

      .TitleXL {
        @include TitleXL;
      }

      .marquee-star {
        height: 50px;
        width: 50px;
      }
    }
  }
}

// @media (min-width: 1512px) {
//   .sevices_benefits {
//     // min-width: 100vw;
//     // margin: auto;
//   }
//   .service_title {
//     @include TitleM;
//   }
//   .sevice_energy {
//     // min-width: 100vw;
//     // margin: auto;
//   }

//   .beneficts_list {
//     // min-width: 100vw;
//     // margin: auto;
//   }
// }