@import '../../utils/mixins.scss';
@import '../../utils/media_queries.scss';



.claim_container {
  @include flexCol;
  place-content: center;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  margin: 48px 0;
  padding: 48px 176.5px;
  background-image: url("../../../../public/assets/landing/landingCover.webp");
  background-size: cover;
  background-repeat: no-repeat;

  .TitleXL {
    @include TitleXL;
    color: white;
  }
  .bodyXXLRegular {
    @include bodyXXLRegular;
    color: white;
  }

  .claimCta_btn {
    max-width: fit-content;
    margin: 0 auto;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
  }

  @include large_medium {
  
    .claimCta_btn.cta_btn.bodyXXLBold {
      display: none;
    }
  }
}

.cards_container {
  @include flexCol;
  padding: 0 200px 48px;
  width: 100%;
  gap: 60px;

  .card_img_text {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    text-align: left;
  
    .TitleM {
      @include TitleM;
    }
    .card_img {
      width: 400px;
      height: 192px;
    }
  
    .card_text {
      @include bodyXXLRegular;
      text-align: left;
      width: 100%;
      overflow: hidden;
    }
  }
}

.marquee {
  padding: 24px 0;
  margin: 0 0 48px 0;
  padding: 24px 0;
  background-color: $primary-color-ligth;

  h3.TitleXL {
    @include TitleXL;
    color: $neutral-black;
  }

  .marquee-star {
    height: 50px;
    width: 50px;
  }
}
