@import '../../utils/mixins.scss';
@import '../../utils/media_queries.scss';


.claim_container {
  @include flexCol;
  min-width: 390px;
  width: 100%;
  height: 160px;
  padding: 10px;
  gap: 10px;
  background-image: url("../../../../public/assets/landing/landingCover.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 24px 0;

  .TitleS {
    @include TitleS;
    color: white;
  }
  .bodyMRegular {
    @include bodyMRegular;
    color: white;
  }
}

.marquee {
  height: 80px;
  background-color: $primary-base-color;
  
  .marquee-text > h3 {
    @include TitleM;
    margin: 0;
    color: $neutral-black;
  }
}

.case_content {
  padding: 24px;
  text-align: left;

  .TitleS {
    @include TitleS;
    color: white;
  }

  .bodyMRegular {
    @include bodyMRegular;
    color: white;
  }
}

.card_img {
  width: 100%;
  padding: 0 24px 36px;
}

.cta_btn {
  position: sticky;
  bottom: 48px;
  margin: 0;
  z-index: 1;
}

@include tablet {
  .claim_container {
    height: fit-content;
    padding: 24px 0;

    .TitleL  {
      @include TitleL;
    }

    .bodyXLRegular  {
      @include bodyXLRegular;
    }
  }

  .marquee {
    .marquee-text {
      @include TitleS;
    }
  }
  .case_content {
    padding: 32px 24px;
  }
}

@include Desktop {
  .claim_container {
    margin: 48px 0;
    padding: 48px 176.5px;
    width: 100vw;
    margin: auto;

    .TitleXL  {
      @include TitleXL;
    }

    .bodyXXLRegular  {
      @include bodyXXLRegular;
    }
  }

  .cards_container {
    @include flexCol;
    margin: auto;
    width: 100vw;
    margin-top: 48px;
    padding: 0 200px;
    gap: 60px;

    .card_img_text {
      display: flex;
      gap: 16px;

      .case_content {
        padding: 0;
      }

      .card_img {
        padding: 0;
      }
    }

    .card_img_reverse {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  button.cta_btn {
    display: none;
  }
  .marquee {
    width: 100vw;
    margin: auto;
    
    .marquee-text {
      @include TitleXL;
    }
  }

  .contact_btn {
    display: flex;
  }
}

@include large_screens {
  .claim_container {
    // min-width: 100vw;
    // margin: 54px auto;
    padding: 54px 200px;

    .TitleXL  {
      @include TitleXL;
    }

    .bodyXXLRegular  {
      @include bodyXXLRegular;
    }
  }

  .cards_container {
    @include flexCol;
    // width: 100vw;
    // margin: auto;
    margin-top: 54px;
    padding: 0 300px;
    gap: 60px;

    .card_img_text {
      display: flex;
      gap: 32px;

      .case_content {
        padding: 0;
      }

      .card_img {
        padding: 0;
      }
    }

    .card_img_reverse {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  button.cta_btn {
    display: none;
  }
  .marquee {
    // margin: auto;
    // width: 100vw;

    .marquee-text {
      @include TitleXL;
    }
  }

  .contact_btn {
    display: flex;
  }
}
