@import '../../utils/mixins.scss';
@import '../../utils/media_queries.scss';
@import '../../utils/variables.scss';


.profile_header {
  @include flexCol;
  padding: 24px;
  width: 100%;
  height: fit-content;
  gap: 12px;


  .profile_avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
  }

  .profile_headerText {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .Comunity {
      @include TitleS;
    }
    .user_id .adrress {
      @include bodyLRegular;

      .bold {
        font-weight: 700;
      }
    }
  }
}

.profile_progressBar {
  @include flexCol;
  width: 100%;
  margin-top: 0;
  padding: 0 200px 40px;

  .legend {
    @include bodySRegular;
    @include flexCenterCenter;
    padding: 24px 0;
    flex-direction: row;
    gap: 48px;

    .legend_title {
      @include bodyMBold;
    }

    li {
      @include bodyMRegular;
      margin-bottom: 0;


      .legend_color {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 10px;
      }


      .done {
        background-color: #009B72;
      }
      .inProcess {
        background-color: #1565C0;
      }
      .docRequired {
        background-color: #EE740D;
      }
      .notInit {
        background-color: #D9D9D9;
      }
    }
  }
}

.pdf_report {

  min-width: 100vw;
  padding: 24px;
  .textLayer {
    width: 100%;
  }
}

.profile_temperature {

  .temp_header {
    @include flexCol;
    text-align: left;
    width: 100%;
    padding: 24px;
    margin: 48px 0;
    gap: 10px;
 
    .real_temp {
      @include TitleM;
    }


    .bodyXXLRegular {
      @include bodyXXLRegular;
    }
  }


  .profile_temp {
    display: flex;
    width: 100%;
    gap: 72px;
    margin-bottom: 48px;
    padding: 0 200px 24px;
 
    .temp_user {
      display: flex;
      flex-direction: column;
      gap: auto;
      justify-content: space-between;
 
      .temp_meassure {
        .temp_label {
          font-size: 1.3rem;
        }
        .temp_box {
          @include flexCol;
          height: 72.8px;
          width: 228.8px;
          justify-content: center;
          align-items: center;
          border: solid 3.9px black;
          border-radius: 40px;
         
         
          .temp_text {
            @include TitleM;
          }
        }
        .temp_exterior {
          @include TitleL;
          background-color: #ee740d;
        }


        .temp_interior {
          @include TitleL;
          background-color:#47d3ff;
        }
      }
    }
   
    .temp_graphic {
      display: flex;
    }
 
    .temp_savedTrees {
      .temp_box {
        @include flexCol;
        justify-content: center;
        align-items: center;
        height: 72.8px;
        width: 228.8px;
        justify-content: center;
        align-items: center;
        border: solid 3.9px black;
        border-radius: 40px;
        background-color: #009b72;
 
        .temp_text {
          font-size: 42px;
        }
      }
 
      .temp_text {
        font-size: 42px;
      }
    }
  }
}

.pdf_report {
  margin: 24px 96px;
  padding: 48px;
  background-color: $neutral-gray1;

  .pdf__Page__textContent  {
    padding: 48px;
  }

  .cta_btn {
    margin-left: 73%;
  }

  .report {
    height: 842px;
    width: 595px;
  }

  .pdf_btns {
    @include flexCenterCenter;
    position: relative;
    bottom: 65px;
    gap: 24px;

    .arrow_rigth {
      @include flexCenterCenter;
      width: 75px;
      height: 48px;
      border-radius: 0px 40px 40px 0px;
      border: 3px solid $neutral-black;
      background: $primary-color-ligth;
    }

    .arrow_left {
      display: flex;
      width: 75px;
      height: 48px;
      justify-content: center;
      align-items: center;
      border-radius: 40px 0 0 40px;
      border: 3px solid $neutral-black;
      background: var(--primary-light, #A1E3D8);
    }
  }
}

.profile_incidents {
  @include flexCol;
  width: 100%;
  height: fit-content;
  gap: 48px;
  margin-bottom: 48px;
  padding: 80px 200px 24px;


  .incidents_header {
    @include flexCol;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;


    .TitleM {
      @include TitleM;
    }


    .bodyXLRegular {
      @include bodyXLRegular;
      text-align: left;
    }
  }


  .incidents_content {
    @include flexCol;
    gap: 8px;
    
    .nextui-c-lfcDHB {
      padding: 0.3rem 0;
    }
    .nextui-c-hPzDAx-iIEvbn-bordered-true {
      border-radius: 0.2rem;
    }
    .notification_form {
      @include flexCol;
      gap: 48px;

      .input {
        min-width: 294px;
        margin: 0px;
        padding-left: 0.4rem;
        border: solid 0.01px gray;
        display: flex;
        gap: 8px;
        height: 48px;
        
        .bodyXLBold {
          @include bodyXLBold;
          padding-left: 0.04rem;
        }
      }

      .TitleXS {
      @include TitleXS;
      @include flexCenterCenter;
      width: 150px;
      height: 48px;
      border: solid 2px #000;
      background-color: #fff;
      margin: auto;
    }
    }


    // .incidens_form {
    //   height: 144px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   gap: 48px;
    //   padding: 12px;
    //   background-color: #d9d9d9;
 
    //   input {
    //     @include bodyLRegular;
    //     border: none;
    //     background-color: #d9d9d9;
    //   }
 
    
    // }
  }
}