@import '../../utils/mixins.scss';

.reset_section {
  @include flexCol;
  margin: auto;
  
  .form_login {
    @include grid-1-col;
    text-align: left;
    margin: auto;
    gap: 16px;
  
    .bodyXLBold {
      @include bodyXLBold;
      @include flexCol;
      gap: 8px;
  
      
      .input.bodyLRegular {
        @include bodyLRegular;
        @include inputStyle;
      }
    }
  
    .TitleXS {
      @include flexCenterCenter;
      @include TitleXS;
      width: 150px;
      height: 48px;
      margin: auto;
    }
  }
}