@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.study_cases {
  @include flexCol;
  width: 100%;
  padding: 48px 200px;
  gap: 48px;

  .case {
    @include flexCol;
    gap: 16px;

    img {
      min-width: 280px;
      min-height: 280px;
      width: 435px;
      height: 319px;
    }

    .TitleL_center {
      @include TitleL; 
    }

    .TitleL {
      @include TitleL; 
      text-align: left;
    }
    .case_content {
      display: flex;
      justify-content: left;
      width: 100%;
      gap: 10px;
      
      
      
      .bodyXLRegular {
        @include bodyXLRegular;
        text-align: left;
      }
    }
  }
}

.text_band {
  overflow: hidden;
  padding: 24px 0;
  margin: 0 0 48px 0;
  width: 100%;
  background-color: #069A8E;
}