@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';
@import '../../utils/media_queries.scss';

.technicalForm_section {

  .form_header {
    @include flexCol;
    padding: 48px 120px;
    gap: 24px;
    text-align: left;
    width: 100%;
  
    .TitleM {
      @include TitleM;
    }
  
    .bodyXLRegular {
      @include bodyXLRegular;
    }
  }
  
  .form_technical {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 1.2rem;
    margin: auto;
    padding: 0 24px;
    gap: 32px;
    width: 80%;
  
    .fields {
      display: flex;
      justify-content: space-between;
      gap: 60px;
      width: 100%;
  
      .bodyXLBold {
        @include bodyXLBold;
        width: 100%;
      }
  
      .bodyLRegular {
        @include bodyLRegular;
      }
    }
  
    .form_checkboxes {
      display: flex;
      width: 100%;
      padding: 2rem;
      gap: 2rem;
      flex-direction: column;
     
      .form_termsAndConditions{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
  
  
        .bodyLRegular {
          @include bodyLRegular;
          flex-direction: row;
          width: 100%;
  
          a {
            margin: 0 1rem;
          }
        }
      }
  
  
      .form_notifications {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
  
  
        label {
          flex-direction: row;
          width: 100%;
        }
      }
    }
  
  
    label {
      @include flexCol;
     
      input {
        @include inputStyle;
      }
  
  
      select {
        @include inputStyle;
      }
    }
  
  
    p.text_error {
      font-size: 1rem;
      height: 1.4rem;
      margin-bottom: 0.2rem;
      color: $semantic-error;
    }
  
  
    // @include tablet_mini {
    //   flex-direction: row;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   text-align: start;
   
    //   label {
    //     width: 45%;
   
    //     input {
    //       @include inputStyle;
    //     }
  
  
    //     select {
    //       @include inputStyle;
    //     }
    //   }
    // }
  }
  
  .contact_header {
    @include flexCol;
    padding: 0 96px;
    gap: 24px;
    text-align: left;
    margin: 48px 0;
    width: 100%;
  
    .header_question {
      @include flexCol;
      gap: 10px;
      text-align: left;
    
      .TitleM {
        @include TitleM;
      }
    
      .bodyXLRegular {
        @include bodyXLRegular;
      }
    }
  
    .contact_us {
      display: flex;
      width: 100%;
      gap: 48px;
      text-align: left;
      
      section {
        width: 100%;
  
        .TitleXS {
          @include TitleXS;
        }
  
        .TitleM {
          @include TitleM;
        }
      }
    }
  }    
  
  .text_band {
    overflow: hidden;
    padding: 24px 0;
    margin: 0 0 48px 0;
  }
}