.geRQHu {
  margin-bottom: 13px;
}

.cCgzLU  {
  background-color: #069A8E;
}

.model_response {
  display: flex;

  .chatbot_message, .gidRuw  {
    animation: Lmuha 0.3s ease forwards;
    background-color: #e5e6e6;
    border-radius: 18px 18px 18px 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    color: #11181c;
    display: inline-block;
    font-size: 14px;
    max-width: 50%;
    margin: 0 0 10px 0;
    overflow: hidden;
    position: relative;
    padding: 12px;
    text-align: left;
  }
}
.jKLQUD {
  justify-content: left;
}

.knjHmn {
  width: 48px;
  height: 48px;
  background: #a1e3d8;
  color: #11181c;
}

.hecFZV {
  text-align: left;
}

.gTROxY {
  height: 54px;
  width: 54px;
  border-radius: 50%;
}

.iconBot_sol7 {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,0.15) 0px 1px 2px 0px;
  border: solid 3px white;
  margin: 6px;
}

.eBYsSN, .efROPc  {
  width: 100%;
  padding: 0 16px;
}
.cyDafw  {
  width: 100%;
}
svg {
  width: 24px;
  height: 24px;
}
.rsc-submit-button {
  fill: #069a8e;
}

.dZpCAZ {
  content: 'Escribe aquí tu mensaje';
}

.sc-gzVnrw {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

// .cCgzLU  {
//   background-color: #069A8E;
// }
// .model_response {
//   display: flex;

//   .chatbot_message, .gidRuw  {
//     animation: Lmuha 0.3s ease forwards;
//     background-color: #e5e6e6;
//     border-radius: 18px 18px 18px 0;
//     box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
//     color: #11181c;
//     display: inline-block;
//     font-size: 14px;
//     max-width: 50%;
//     margin: 0 0 10px 0;
//     overflow: hidden;
//     position: relative;
//     padding: 12px;
//     text-align: left;
//   }
// }
// .jKLQUD {
//   justify-content: left;
// }

// .knjHmn {
//   width: 48px;
//   height: 48px;
//   background: #a1e3d8;
//   color: #11181c;
// }

// .hecFZV {
//   text-align: left;
// }

// .gTROxY {
//   height: 54px;
//   width: 54px;
//   border-radius: 50%;
// }

// .iconBot_sol7 {
//   width: 54px;
//   height: 54px;
//   border-radius: 50%;
//   box-shadow: rgba(0,0,0,0.15) 0px 1px 2px 0px;
//   border: solid 3px white;
//   margin: 6px;
// }

// .eBYsSN, .efROPc  {
//   width: 100%;
//   padding: 0 16px;
// }
// .cyDafw  {
//   width: 100%;
// }
// svg {
//   width: 24px;
//   height: 24px;
// }
// .rsc-submit-button {
//   fill: #069a8e;
// }

// .dZpCAZ {
//   content: 'Escribe aquí tu mensaje';
// }

// .sc-gzVnrw {
//   width: 54px;
//   height: 54px;
//   border-radius: 50%;
// }