.cCgzLU  {
  background-color: #069A8E;

}
.model_response {
  display: flex;

  .chatbot_message, .gidRuw  {
    text-align: left;
    font-size: 14px;
    background-color: #e5e6e6;
    color: #11181c;
  }
}
.jKLQUD {
  justify-content: left;
}

.knjHmn {
  width: 48px;
  height: 48px;
  background: #a1e3d8;
  color: #11181c;
}

.hecFZV {
  text-align: left;
}

.iconBot_sol7 {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,0.15) 0px 1px 2px 0px;
  border: solid 3px white;
  margin: 6px;
}

.eBYsSN, .efROPc  {
  width: 100%;
  padding: 0 16px;
}
.cyDafw  {
  width: 100%;
}
svg {
  width: 24px;
  height: 24px;
}
.rsc-submit-button {
  fill: #069a8e;
}

.dZpCAZ {
  content: 'Escribe aquí tu mensaje';
}

.sc-gzVnrw {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}