
.contact_btn {
  width: 151.25px;
  height: 151.25px;
  position: fixed;
  top: 209px;
  right: 36.75px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;

  @keyframes rotate {
    to {
        transform: rotate(360deg);
    }
  }
}