.marquee{
    display: flex;
    overflow:hidden;
    gap:1rem;
    position:relative;
    user-select: none;
    width:100%;
    background: rgb(145, 145, 145);

    &>.marquee-text{
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: 1rem;

        &>h3 {
            color: rgb(241, 241, 241);
        }
    } 
}

.marquee-star {
    width: 20px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1rem))
    }
}

.scroll {
    animation: scroll 10s linear infinite;
}



