@import '../../utils/mixins.scss';

.steps_Wrapper {
  @include flexCenterCenter;

  .steps {
    display: flex;
    list-style-type: none;
    padding: 8px 16px;
    gap: 20px;
    position: relative;
    z-index: 10;

    .step_item {
      @include flexCol;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      text-align: center;
      min-width: 170px;
      position: relative;
  
      .step_number {
        @include flexCenterCenter;
        @include TitleM;
        width: 42px;
        height: 42px;
        border: solid 1px;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        color: black;
      }
      
      .step_number::after {
        content: "";
        width: 42px;
        height: 42px;
        position: absolute;
        background-color: #069A8E;
        border-radius: 50%;
        z-index: -10;
      }
      
      .step_number::before {
        width: 42px;
        height: 42px;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        z-index: -10;
      }
      
      .step_name {
        @include bodyLRegular;
      }

      .step_number:focus {
        .step_number {
          border: solid 5px;
        }
        font-weight: 700;
      }
    }

    .step_item + .step_item::after {
      content: "";
      position: absolute;
      left: 0;
      top: 19px;
      background-color: #069A8E;
      width: 86%;
      height: 2px;
      transform: translateX(-58%);
      z-index: -10;
    }
  }

  .current_item .step_number::before,
  .current_item ~ .steps_Wrapper .step_number::before {
    display: none;
  }
  .current_item ~ .step_item .step_number::after {
    height:10px;
    width:10px;
  }
  .current_item ~ .steps_Wrapper .step_name {
    opacity: 0.5;
  }
  .current_item .step_number:after{
    background-color: #fff;
  }
  .current_item .step_number {
    color: #069A8E;
  }
}