.marquee{
  display: flex;
  overflow:hidden;
  gap:1rem;
  position:relative;
  user-select: none;
  width:100%;
  background: black;

}

.marquee .marquee-text {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  gap: 1rem;
}

.marquee-text h3{
  color: #000201;
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(calc(-100% - 1rem))
  }
}

.scroll {
  animation: scroll 24s linear infinite;
}