$small_medium: 600px;
$small_large: 720px;
$large_large: 1279px;

@mixin small_medium {
  @media (min-width: #{$small_medium}) {
    @content;
  }
}

@mixin small_large {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin large_medium {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin large_large {
  @media (min-width: 1279px) {
    @content;
  }
}