@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin inputStyle {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0px;
  padding-left: 0.4rem;
  border: solid 0.01px gray;
}

@mixin TitleM {
  font-size: 42;
  font-family: 'Basier Circle';
  font-weight: '700';
  word-wrap: break-word;
  margin-bottom: 0;
}

@mixin TitleXS {
  font-family: BasierCircle;
  font-size: 24px;
  font-weight: 700;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

@mixin bodyMRegular {
  font-family: Orkney;
  font-size: 16px;
  font-weight: 300;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

@mixin bodyLRegular {
  font-family: Orkney;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

@mixin bodyXLRegular {
  font-family: Orkney;
  font-size: 24px;
  font-weight: 300;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

@mixin bodyXXLRegular {
  font-family: Orkney;
  font-size: 32px;
  font-weight: 300;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

@mixin bodyMBold {
  font-family: Orkney;
  font-size: 16px;
  font-weight: 700;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

@mixin bodyXLBold {
  font-family: Orkney;
  font-size: 24px;
  font-weight: 700;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

@mixin bodyXXLBold {
  font-family: Orkney;
  font-size: 32px;
  font-weight: 700;
  overflow-wrap: break-word;
  margin-bottom: 0;
}