$primary-base-color: #069A8E;
$primary-color-dark: #005555;
$primary-color-ligth: #a1e3d8;

$secondary-color: #a2ff86;

$neutral-black: #000201;
$neutral-gray1: #4c4e4d;
$neutral-gray2: #999a99;
$neutral-gray3: #e5e6e6;

$neutral-white: #fcfcfc;

$semantic-notice: #5fabc6;
$semantic-ok: #069A8E;
$semantic-warning: #e19e35;
$semantic-standby: #ec711b;
$semantic-error: #d02037;

$marquee-speed: 25s;