<<<<<<< HEAD
@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.footer {
  min-height: 4.8rem;
  background-color: #f7f4f1;
  width: 100vw;
  
    a {
      display: inline-block;
      padding: 2rem;
      color: #6a6969;
    }
=======
@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
  width: 100vw;
  padding: 0 96px 24px;

  .footer_links {
    @include flexCenterCenter;
    gap: 2rem;
    height: fit-content;
  }
  
  .footer_RRSS {
    @include flexCenterCenter;
    gap: 2rem;
    height: fit-content;
    
    li {
      height: fit-content;
    }
    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  a {
    display: inline-block;
    color: #6a6969;
  }
>>>>>>> 9a2f24fb3eb5f378599c9e0439ed52163d24995c
}